<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img width="40%" style="float:right" src="assets/CoinKingLogo.svg" id="logo" />
    </ion-title>
  </ion-navbar>
  <div class="mainBackground short">
    <div id="accountValue">Market Cap</div>
  </div>
</ion-header>

<ion-content padding>
  <ion-list style="margin-top:2px" *ngIf="marketCapListData">
    <div *ngFor="let coin of marketCapListData let i = index">
      <div *ngIf="coin.rank <= 10; else space">
      <ion-item >
        <div style="float:left; width:45px; text-align: center;">
          {{coin.rank}}
        </div>
        <img style="float:left; width:16px; margin-right: 7px;" class="coinIcon" src="{{coin.imageURL}}" />
        <div style="float:left; width:65px;">
          {{coin.symbol}}
        </div>
        <div style="float:left; width:100px;text-align: right">
          {{coin.marketcap | currency:_data.currencySign}}B
        </div>
        <ion-note item-end color="lighttxt">
          {{coin.price | currency:_data.currencySign}}
        </ion-note>
      </ion-item>
        </div>
        <ng-template #space>
          <img style="width: 15px; display: block; margin-top: 4px;
          margin-left: auto;
          margin-right: auto;" src="assets/lightning.svg" />
          <ion-item  no-lines style="margin-top: 4px">
          <div style="float:left; width:45px; text-align: center;">
            {{coin.rank}}
          </div>
        <img style="float:left; width:18px; margin-right: 7px;" class="coinIcon" src="{{coin.imageURL}}" />
        <div style="float:left; width:65px;">
          {{coin.symbol}}
        </div>
        <div style="float:left; width:100px;text-align: right">
          {{coin.marketcap | currency:_data.currencySign}}B
        </div>
        <ion-note item-end color="lighttxt">
          {{coin.price | currency:_data.currencySign}}
        </ion-note>
      </ion-item>
        </ng-template>
      </div>
  </ion-list>
</ion-content>
