<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img style="float:right" src="assets/CoinKingLogo.svg" id="logo" />
    </ion-title>
  </ion-navbar>
  <div class="mainBackground short">
    <div id="accountValue">Transaction History</div>
  </div>
</ion-header>

<ion-content padding>
   <ion-list *ngIf="transactionHistory.length > 0; else no_transactions" style="margin-top: .1em;">
    <ion-item-sliding *ngFor="let transaction of transactionHistory let i = index">
      <ion-item no-lines>
        <ion-grid style="padding: 0px">
          <ion-row>
            <ion-col>
              <div *ngIf="transaction.transaction_type == 'Buy'; else sell_display" style="color:#00A10C; font-size: 12px; font-weight: bold;">
                BUY
              </div>
              <ng-template #sell_display>
                <div style="color:#ff3232; font-size: 12px; font-weight: bold;">
                  SELL
                </div>
              </ng-template>
              <div style="float:left; width:65px; color:#727272; font-size: 10px;">
                {{transaction.transaction_date}}
              </div>
            </ion-col>
            <ion-col>
              <div style="text-align:center; padding-top:3px; float:right; padding-right: 3px;">
                {{transaction.amount}}
              </div>
              
            </ion-col>
            <ion-col>
              <div style="float:left; width:65px; color:#727272;padding-top:3px;">
                {{transaction.coin_symbol}}
              </div>
            </ion-col>
            <ion-col>
              <ion-note item-end color="lighttxt" style="float:right; margin:0px;padding-top:3px;">
                {{transaction.price | currency:'USD':true}}
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options>
        <button ion-button>
          <ion-icon name="close" class="size"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ng-template #no_transactions><div style="text-align: center; font-style: italic; color: rgba(255, 255, 255, 0.4);">No transanctions</div></ng-template>
</ion-content>
