.scroll-content {
    padding: 0 !important;
}

input, ion-datetime {
  color: color($colors, lighttxt);
}

a {
  color: inherit;
}

.short {
  height: 45px;
}

ion-item {
  background-color: color($colors, darkgrey) !important;
}

.radio-checked {
  border-color: color($colors, green, base) !important;
}

.radio-inner {
  border-color: color($colors, green, base) !important;
  
}

.radio-md .radio-inner {
  background-color: color($colors, green, base) !important;
}

.item-radio-checked ion-label {
  color: color($colors, green, base) !important;
}

ion-title {
  padding-right: 0px !important ;
}
