page-donate {

}

.donate-coin {
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.donate-coin-label {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #FFF;
    margin-left: 6px;
    margin-top: 5px;
}

.donate-wallet-address {
    background: #000;
    border: 1px solid #292929;
    color: #ffaa00;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    display: block;
}

.btn-default {
    background-color: #414141;
    border: 1px solid #292929;
    color: #FFF;
    margin-top: -2px;
    font-size: 12px;
    float: right!important;
    display: inline-block;
    padding: 6px 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    text-decoration: none;
    margin-left: 2px;
}

.restrict-text {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
